<link rel="stylesheet" href={{style}}>
{{#each scripts}}
    <script src={{this}}></script>
{{/each}}

<div id="spanFilterContainer">
    <!--
    <div class="productFilterContainer">
        <div class="filterDiv"><div>Filtros:</div></div>
        <div class="divSeparadorHorizontal"></div>
        <div class="filterDiv"><div>Filtros:</div></div>
    </div> 
    <div class="divSeparadorVertical"></div>-->
    <div id="productsContainer">
        <!--
        <div class="productoFrame-type1">
            <img class="productImage-type1" src="" alt="">
            <p class="productTitle-type1">PRODUCTO PRUEBA BRODER</p>
            <div class="productoSeparador-type1"></div>
            <p class="productStock-type1">STOCK DISPONIBLE</p>
            <p class="productPrice-type1">$000,000,000</p>
        </div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>
        <div class="productoFrame-type1"></div>-->
    </div>
</div>

<script type="module" src={{script}}></script>