<link rel="stylesheet" href={{style}}>
{{#each scripts}}
    <script src={{this}}></script>
{{/each}}

<div class="uniqueSeparador"></div>
<div class="uniqueProductTitle">ADSADADASDASDASDASDASDASDASDADAD</div>
<div class="container-top">
    <div class="uniqueSpanContainer">
            <div class="uniqueProduct-image">
                <img class="uniqueProduct-image" src="" alt="">
            </div>
            <div class="uniqueProductContainer"></div>
    </div>
</div>