$color-principal-pagina: rgb(253, 97, 0);

$tipografia: 'Sofia Sans', sans-serif;
$mediaQuery-576px: 576px; /* (script _variables.scss) se que esto no deberia de hacerlo pero es solo para probar el funcionamiento de las variables */