<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    
    <div class="topBar"> <!-- TopFrame -->
        <img src="" alt="">
        <div class="searchbarContainer">
            <input type="text" name="" id="searchbarInput" placeholder="Buscador">
            <button class="searchButton" type="button"></button>
        </div>
    
        <a class="cartContainer" href="/cart">
            <img class="cartIcon" src="./public/icons/cartIcon.png" alt="Carrito de compra">
            <p id="cartText">0</p>
        </a>
        
        <div class="navbar"> <!-- Navbar.-->
            <a class="navbarButton" type="button" href="http://localhost:3000/descuentos">EN DESCUENTO</a>
            <a class="navbarButton" type="button" href="http://localhost:3000/products">PRODUCTOS</a>
            <a class="navbarButton" type="button" href="http://localhost:3000/contacto">CONTÁCTANOS</a>
            <a class="navbarButton" type="button" href="http://localhost:3000/pedidos">MIS PEDIDOS</a>
        </div>
    </div>
</head>
<body>
    {{{body}}}
</body>

</html>